  
<fa-app class="full-screen"
fa-perspective="500"
  >
  <fa-modifier
    fa-translate="[0,0,-50]"
    fa-origin="[.5, .5]"
    fa-align="[.5, .5]"
    fa-size="getWindowSize()"
  >
    <!-- fa-size="getWindowSize()" -->

  <fa-surface 
    class="screen-background"
    fa-background-color="'rgba(0,0,0,0.5)'"
    >
  </fa-surface>
  </fa-modifier>
  
  <fa-modifier 
    fa-origin="[.5, .5]"
    fa-size="[320, 568]"
    >
    <fa-modifier 
      fa-translate="[0,0,0]"
      >
    <div ng-include="'./views/newapp/job.html'"></div>
    </fa-modifier>

    <fa-modifier
      fa-translate="[0,-568,1]"
      fa-size="[320*(500-1)/500, (568+40)*(500-1)/500]"
      >
    <div ng-include="'./views/newapp/menu.html'"></div>
    </fa-modifier>
    
    <fa-modifier
      fa-translate="[0,568-40,2]"
      fa-size="[(320)*(500-2)/500, (568)*(500-2)/500]"
      >
    <div ng-include="'./views/newapp/paper.html'"></div>
    </fa-modifier>
  </fa-modifier>
    
<!--  <fa-scroll-view id="main-scroll-view" fa-start-index="1" fa-pipe-from="enginePipe"
  fa-options="options.mainScrollView">
    <fa-modifier
      fa-translate="[0,0,0]"
      >
    <div ng-include="'./views/newapp/menu.html'"></div>
    </fa-modifier>

    <fa-modifier 
      fa-translate="[0,0,0]"
      >
    <div ng-include="'./views/newapp/job.html'"></div>
    </fa-modifier>

    <fa-modifier
      fa-translate="[0,0,0]"
      >

    <div ng-include="'./views/newapp/apply.html'"></div>
    </fa-modifier>

  </fa-scroll-view>

  </fa-modifier> -->
  <!-- <fa-animation timeline="scrollYPosition">
    <animate  targetModSelector="#top-capsule"
              field="translate"
              startValue="[0,0,0]"
              endValue="[0,-100,0]" />
  </fa-animation> -->
      
</fa-app>
