<ion-nav-bar class="nav-title-slide-ios7 bar-light">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
</ion-nav-bar>
<ion-nav-view></ion-nav-view>
<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-positive button-clear" ng-click="back()">
      Back
    </button>
  </ion-nav-buttons>
<ion-content>
<div class="terms-content">
<h3>Statements of Rights and Responsibilities</h3>
<h4>Terms you agree to when you use Simple.</h4>
<p>
  This agreement was written in English (US). To the extent any translated version of this agreement conflicts with the English version, the English version controls.
</p>
<p>

  This Statement of Rights and Responsibilities ("Statement," "Terms," or "SRR") derives from the Simple Principles, and is our terms of service that governs our relationship with users and others who interact with Simple. By using or accessing Simple, you agree to this Statement, as updated from time to time.
</p>
<ol>
  <li><h5 class="bold">Privacy</h5>
    <p>Your privacy is very important to us. We never share your LinkedIn profile with companies other than the ones you apply to.</p>
  </li>
  <li><h5 class="bold">Sharing your information</h5>
  <p>By using Simple, you give us the right to share and distribute your LinkedIn profile (meaning any information you make visible on your LinkedIn profile) to the companies that you apply to.</p>
  <p>
    By applying to a company through Simple, you agree to be contacted by the company through the email or means of contact you made visible on LinkedIn.</p>
  </li>
  <li><h5 class="bold">Job application result</h5>
  <p>Simple does not guarantee 100% that you will get contacted back by the companies you apply to through Simple. The companies retain the discretion of whether or not to contact you back depending on the company’s interest in you.</p>
  </li>
  
  <li><h5 class="bold">Disclaimer</h5>
  <p>We do not represent any company and do not speak for any company through Simple. We are not responsible for the accuracy of job data on Simple.</p>
  </li>
</ol>
</div>
</ion-content>

<!--   <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>
      <div class="slide-content">
      <h3>Welcome to Simple.Careers</h3>
      <div id="logo">
        <img src="/images/icons/apple-touch-icon-76x76@2x.png">
      </div>
      <h4>
        Swipe your way to the perfect job.
      </h4>
      <p>
        Simple uses pictures to depict boring job descriptions and hidden company's culture, helping you discover your perfect job.
      </p>
    </div>
    </ion-slide>
    <ion-slide>
      <div class="slide-content">
    
      <h3>Using Simple.Careers</h3>
      <div id="list">
        <ol>          
          <li>Swipe right to favorite</li>
          <li>Swipe left to pass</li>
          <li>Flip the card to see detial and apply via Linkedin</li>
          <li>Be ready to be contacted from your dream employer!</li>
          <li>Share job cards with friends on Facebook!</li>
        </ol>
      </div>
    </div>
    </ion-slide>
    <ion-slide>
      <div class="slide-content">
    
      <h3>Swipe Away!</h3>
      <button id="getstarted" class="button button-large button-assertive" ng-click="startApp()">Get Started!</button>
      <p>
        By using Simple, you agree to Simple's <a ng-click="terms()">Terms of Service</a>
      </p>
    </div>
    </ion-slide>
  </ion-slide-box> -->
</ion-view>

<div>
  

<ion-content>


</ion-content>

  
</div>
