<form role="form">
  <div class="form-group">
    <label>Position</label>
    <input class="form-control" type="text" ng-model="job.position" ng-change="save(job)">
  </div>
  <div class="form-group">
    <label>Job Description</label>
    <textarea class="form-control" type="text" ng-model="job.jobtagline" ng-change="save(job)">
    </textarea>
  </div>
  <div class="form-group">
    <label><button class="btn btn-default" ng-click="pickLogo()">Pick Logo (Aspect Ratio 1:1, 45px by 45px)</button></label>
    <div id="logoDropPane">
    <img ng-src="{{job.logo.url}}" width='40' height='40'></img>
    </div>
  
  </div>
  <div class="form-group">
    <label><button class="btn btn-default" ng-click="pickPicture()">Pick Picture (Aspect Ratio 4:3, 300px by 225px)</button>
</label>
    <div>
    <img ng-src="{{job.picture.url}}" width='300' height='225'></img>
    </div>
  </div>
  
  <div class="form-group">
    <label>Video</label>
    <input class="form-control" type="text" ng-model="job.video" ng-change="save(job)">
  </div>
  
  <div class="form-group">
    <label>Company Name</label>
    <input class="form-control" type="text" ng-model="job.companyname" ng-change="save(job)">
  </div>
  <div class="form-group">
    <label>Company Tagline</label>
    <input class="form-control" type="text" ng-model="job.companytagline" ng-change="save(job)">
  </div>
  <div class="form-group">
    <label>Location</label>
    <input class="form-control" type="text" ng-model="job.location" ng-change="save(job)">
  </div>
  <div class="form-group">
    <label>Type</label>
    <input class="form-control" type="text" ng-model="job.type" ng-change="save(job)">
  </div>
  <div class="form-group">
    <label><button class="btn btn-default" ng-click="pickBadge()">Pick Badge (Aspect Ratio 1:1, 45px by 45px)</button>
</label>
<div ui-sortable="sortableOptions" ng-model="job.badges" class="sorter">
  <div ng-repeat="badge in job.badges" class="badge-wrapper">
    <img ng-src="{{badge.url}}" width='45' height='45'></img>
    <button class="btn btn-danger pull-right btn-xs close" ng-click="removeBadge(badge)"><i class="glyphicon glyphicon-remove"></i></button>
  </div>
</div>
  </div>
  
</form>