<div class="container-fluid">
<div class="col-sm-3 col-xs-12">
<form role="form">
  <div class="form-group">
      <label >Search</label>
<input type="text" class="form-control" ng-model="searchText">
    </div>
</form>
<ul class="nav nav-pills nav-stacked job-menu" ui-sortable="sortableOptions" ng-model="jobs">
  <li ng-class="{active:job._id==cjob._id}" ng-repeat="cjob in jobs | filter:searchText | orderBy:'order' track by cjob._id"><a style="cursor:pointer" ng-click="changeJob(cjob)">{{cjob.order}} 
    <button class="btn btn-danger pull-right btn-xs" ng-click="removeJob(cjob)"><i class="glyphicon glyphicon-remove"></i></button>
    {{(cjob.companyname || 'New Company') + ': '+ (cjob.position || 'New Job')}}</a></li>
</ul>
  <div>
<button class="btn btn-primary" ng-click="newJob()"><i class="glyphicon glyphicon-plus"></i>New Job</button>
    </div>

</div>
<div ui-view="view.view" class="col-sm-9 col-xs-12 job-panel"></div>
</div>