@import "compass/css3";

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  overflow:hidden;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
//  70% {
//    -webkit-transform: scale(0.5,0.5);
//  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0,0);
  }
//  70% {
//    -webkit-transform: scale(1.2,1.2);
//  }
  100% {
    -webkit-transform: scale(1,1);
  }
}
.path{
  cursor: pointer;
}
.swipe-card.pop-in-start {
  opacity: 0;
//  -webkit-transform: scale(1,1);
}
.swipe-card.pop-in {
  -webkit-animation: fadeIn 0s ease-out;
}

.back-card-background{
  background-color: rgb( 255, 255, 255 );
  overflow: scroll;
  padding: 10px;
}
.card-wrapper{
  font-family: "Source Sans Pro";
  background-color: #d0d5d7;
  .scroll{
    height: 100%;  
  }
}
.card-share-btn{
  position: fixed;
  z-index: 100;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.full-height{
  height: 100%;    
}
.full-width{
  width: 100%;    
}
.three-card{
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -210px;
  height: 420px;
  width: 300px;
  
  .three-card-background{
    width: 300px;
  }
}
.card-loading{
  position: absolute;
  top:50%;
  left:50%;
  margin-left:-30px;
  margin-top:-30px;
  width: 60px;
  height: 60px;
}
.card-inset{
  overflow:hidden;
//  padding-top:30px;
//  padding-left:10px;
//  padding-right:10px;
//  padding-bottom:10px;
//    width: 100%;
//    height: 375px;
  .card-background {
    overflow: hidden;
    
    width: 300px;
    height: 420px;
//    max-width: 320px;
//    max-height: 362px;
    
    border-radius: 10px;
    background-color: rgb( 255, 255, 255 );
    border: solid 1px #ddd;
//    box-shadow: 0px 11px 16px 0px rgba( 0, 0, 0, 0.1 );
    position: relative;
//    width: 100%;
//      height: 375px;
//      max-width: 280px;
    margin: 0 auto;
    z-index: 0;
    
    .card-overlay-wrapper{
      width: 300px;
      height: 420px;
      img{
        width:100%;
        height:100%;
      }
    }
    
    .card-loading-wrapper{
      width: 300px;
      height: 420px;
    }

    
    .card-broken{
      position: absolute;
      top:50%;
      left:50%;
      margin-left:-30px;
      margin-top:-30px;
      width:60px;
      height:60px;
    }
    
    .card-header{
      margin: 0;
      padding-left:70px;
      height: 76px;
//      padding-right:60px;
      background: none;
      border:none;
      .card-swipe-badge{
        width: 55px;
        height: 55px;
        top: 10px;
        right: 10px;
        position: absolute;
        opacity: 0.9;
        img{
          width: 100%;
          height: 100%;
        }
      }
      h2{
        font-size: 20px;
      }
      .img{
        position: absolute;
        top: 15px;
        left: 15px;
        width: 45px;
        height: 45px;
        line-height: 45px;
        img{
          width: 45px;
        }
      }
      p{
        margin-bottom: 0;
      }
      .card-location{
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 20px;
        padding-top: 15px;
        i{
          font-size: 24px;
          padding-right: 3px;
          display:inline;
        }
      }
    }
    .card-content{
      border-top: solid 1px #ddd !important;
      border-bottom: solid 1px #ddd !important;
      border:none;
      background: none;        
      padding:0;
      margin: 0;
      overflow: hidden;      
      .card-title-wrapper{
        overflow: hidden;
        height: 225px;
        position: relative;
        .card-image{
          overflow: hidden;          
          position: relative;
          text-align: center;
        }
        .card-title{
          position: absolute;
          bottom: 0px;
          width: 100%;
          color: white;
          padding:10px;
          font-size: 18px;
          font-weight: 600;
          height: 50px;
          line-height: 30px;
          text-align: center;

          background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
          background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#88000000',GradientType=0 ); /* IE6-9 */

        }          
      }
    }
    .card-badge-content{
      border:none;
      background: none;        
      padding: 10px;
      overflow: hidden;
      white-space: nowrap;
      height: 69px;
      .card-badge-body{
        margin: 0 auto;
        text-align: center;
        .card-badge:first-child{
          margin-left: 0px;            
          width: 45px;          
        }
        .card-badge{
          margin-left: 5px;
          width: 45px;          
        }
      }
    }
    .card-footer, .card-info{
      padding:0;
      margin: 0;
      border-left:none;
      border-right:none;
      border-bottom:none;
      border-top: solid 1px #ddd !important;
      background: none;
    }
    .card-info{
      height: 55px;
//        .tab-item:first-child{
//          border-right: solid 0px #ddd;
//        }
      .tab-item{
        cursor: auto;
        border-right: solid 1px #ddd;
//          border-left: solid 1px #ddd;
      }
      .tab-item:last-child{
        border-right: solid 0px #ddd;
      }
    }
  }
}

.apply-btn{
  
}
.action-btn{
  width: 55px;
  height: 55px;
}
.btn-wrapper{
  max-height: 55px;  
}
.spacer{
  width: 150px;
  display: inline-block;
//  margin-top: 15px;
  opacity: 0.90;
  .social{
    margin-top: 15px;
  }
  img{
    width:50px;
    height:50px;
  }
}
.footer-action{
  margin-bottom: 5px;
  z-index: 1000;
  text-align: center;
  width: 100%;
  bottom:0;
  position: fixed;
  
}
