
.swipe-cards{
  height: 100%;
}
.swipe-card{
  height: 100%;
}
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
//  /* flip the pane when hovered */
//  .flip-container:hover .flipper, .flip-container.hover .flipper {
//    transform: rotateY(180deg);
//  }

.flip-container, .front, .back {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  height: 100%;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
  
	position: relative;
  height: 100%;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

  margin: auto;
//  height: 400px;
  position: absolute;
  display: inline-block;
  top: 50%;
  margin-top: -208px;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.flip-container.flip .flipper {
	transform: rotateY(180deg);
}