<ion-content class="card-wrapper" scroll="false">
      <!-- <div class="first-card">
        <div><img src="/images/logo.png"></div>
        <ul>
          <li>
        Swipe right to favorite job
          </li>
          <li>
        Swipe left to pass
          </li>
          <li>
        Flip the card to apply via Linkedin
          </li>
          <li>
        Be ready to be contacted from your dream employer!
          </li>
          <li>
        Share job cards with friends!
          </li>
        </ul>
        <button class="button button-large button-positive">Get Started</button>
        <p>By using Simple, you agree to Simple's <a href="/app/terms">Terms of Service</a></p>
      </div> -->

      <div class="three-card">
        <img class="three-card-background" src="/images/3card.png">
        <img class="card-loading" src="/images/loading.gif">
      </div>
      <!-- <div class="card-loading-wrapper">
      </div> -->

      <swipe-cards>
      <div ui-view="main.view" class="full-height full-width" autoscroll='false'></div>
      
        </swipe-cards>
  <div class="footer-action">
    <button class="button button-clear btn-wrapper" ng-click="noClick(job)">
    <img src="/images/no-btn.png" class="action-btn"></img>
    </button>
    <span class="spacer">    
      <ul class="social" ng-show="enableShare" ng-social-buttons
                 showcounts="true" url="url" title="title">
        <li class="ng-social-facebook" analytics-on="click" analytics-event="facebookShareClick" analytics-url="{{url}}">Share</li>
      </ul>
      <img ng-show="$state.includes('app.apply')" src="/images/menu/menu-apply.png">
      <img ng-show="$state.includes('app.favorite')" src="/images/menu/menu-favorite.png">
    </span>
    <button class="button button-clear btn-wrapper" ng-click="yesClick(job)">
    <img src="/images/yes-btn.png" class="action-btn"></img>
    </button>
  </div>
  
</ion-content>
<div id="menu"></div>
