      <swipe-cards>
      
        <swipe-card on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index)" on-swipe-left="cardSwipedLeft(job)" on-swipe-right="cardSwipedRight(job)" on-drag="cardDrag($x,$y,job)" ng-repeat="job in jobs">
        
        <div class="flip-container" ng-class="{'flip':job.$$flip}" ng-click="flipClick(job)">
        	<div class="flipper">
        		<div class="front">

        <div class="card-inset">
        <div class="card-background">
          <div ng-show="!isValid(job)" class="card-loading-wrapper">
            <img class="card-loading" src="/images/loading.gif"></img>            
          </div>
          <div ng-show="isValid(job)">
          <div class="item item-avatar card-header">
            <div class="img">
            <img ng-src="{{job.logo.url}}">
            </div>
            <div class="card-swipe-badge">
            <img ng-if="job.$$status=='left'" src="images/no-btn.png">
            <img ng-if="job.$$status=='right'" src="images/yes-btn.png">
            </div>
            <h2>{{job.companyname}}</h2>
            <p>{{job.companytagline}}</p>
            <!-- <div class="tab-item card-location">
              <i class="icon ion-location"></i>
              NH
            </div> -->
            
          </div>

          <div class="item item-body card-content">
            <div class="card-title-wrapper">
              <div class="card-image">
            <img  ng-src="{{convert(job.picture)}}" width="300" height="225">
          </div>
            <span class="card-title">{{job.position}}<span>
            </div>
            <!-- <p>
              This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
              the content is from a card-body consisting of an image and paragraph text. The footer
              consists of a Tab Bar, icons aligned left, within the card-footer.
            </p>
            <p>
              <a href="#" class="subdued">1 Like</a>
              <a href="#" class="subdued">5 Comments</a>
            </p> -->
          </div>
          <div class="item item-body card-badge-content">
            <!-- <ion-scroll direction="x"> -->
            <div class="card-badge-body">
              <img class="card-badge" ng-repeat="badge in job.badges" ng-src="{{badge.url}}">
            </div>
                
            <!-- </ion-scroll> -->
            
            <!-- <img class="card-badge" src="/images/badges/C.png">
            <img class="card-badge" src="/images/badges/Java.png">
            <img class="card-badge" src="/images/badges/Python.png">
            <img class="card-badge" src="/images/badges/C.png">
            <img class="card-badge" src="/images/badges/Java.png">
            <img class="card-badge" src="/images/badges/Python.png"> -->
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left card-info">
            <span class="tab-item">
                <i class="icon ion-ios7-navigate"></i>
                {{job.location}}
                <!-- <i class="icon ion-ios7-pie"></i>
              ENGR -->
            </span>
            <span class="tab-item">
              <i class="icon ion-ios7-timer"></i>
              {{job.type}}
            </span>
            <!-- <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              3yrs+
            </a> -->
          </div>
            <!-- <div class="bar bar-footer bar-positive"  ng-click="apply($event)">
                <button class="button button-clear col-xs-12">Next</button>
            </div> -->
          </div>
            
        </div>
        </div>


        		</div>
        		<div class="back">
              
              
              <div class="card-inset back-card-inset">
              <div class="card-background back-card-background">
                
                <p>{{job.jobtagline}}</p>
                  <!-- <button class="button button-large button-assertive apply-btn">Apply!</button> -->
                <div class="bar bar-footer bar-assertive"  ng-click="apply($event)">
                    <button class="button button-clear col-xs-12">Apply</button>
                </div>
              </div>
              </div>
              
        		</div>
        	</div>
        </div>
        </swipe-card>
      </swipe-cards>
<div class="footer-action">
  <button class="button button-clear btn-wrapper" ng-click="noClick(job)">
  <img src="/images/no-btn.png" class="action-btn"></img>
  </button>
  <span class="spacer">
    <ul ng-social-buttons
             showcounts="true">
    <li class="ng-social-facebook">Share</li>
  </ul>
    
  </span>
  <button class="button button-clear btn-wrapper" ng-click="yesClick(job)">
  <img src="/images/yes-btn.png" class="action-btn"></img>
  </button>
</div>
