body {
  font-family:'Source Sans Pro', sans-serif;
  color: #666;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
h1 {
  margin: 10px 0px 0px;
  font-family:'Source Sans Pro', sans-serif;
  color: white;
  font-size: 42px;
  line-height: 44px;
  font-weight: 600;
  text-align: center;
}
h2 {
  margin: 8px 0px 10px;
  font-family:'Source Sans Pro', sans-serif;
  color: white;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.3px;
}
h3 {
  margin: 10px 0px;
  color: #4d4d4d;
  font-size: 34px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
}
h4 {
  margin: 10px 0px;
  color: #636363;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  text-align: left;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  width: 80%;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #666;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
.margin-bottom-10{
  margin-bottom: 10px;
}
.button {
  display: inline-block;
  padding: 16px 25px;
  border-radius: 10px;
  background-color: rgba(8, 129, 157, 0.45);
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 0px 0px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: rgba(168, 216, 227, 0.45);
}
.navlink {
  margin-left: 50px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
  border-bottom: 3px solid rgba(255, 0, 0, 0);
  -webkit-transition: border 500ms ease;
  -o-transition: border 500ms ease;
  transition: border 500ms ease;
  font-family:'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 600;
  text-decoration: none;
}
.navlink:hover {
  border-bottom: 3px solid #10b6dd;
  border-left: 0px none #10b6dd;
}
.header {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  padding-top: 0px;
  padding-bottom: 27px;
}
.bluebanner{
  background-color: rgb(11,167,216);
  padding-bottom: 0px;
}
.heroimage {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../images/143071482.jpg');
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../images/143071482.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../images/143071482.jpg');
  background-position: 0% 0%, 0% 0%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}
.nav-column {
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: right;
}
.form {
  height: 62px;
  padding-top: 4px;
  padding-right: 20px;
  padding-left: 25px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  font-family:'Source Sans Pro', sans-serif;
  color: #969696;
  font-size: 18px;
  font-weight: 300;
}
.subscribeformsection {
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom-style: none;
  border-bottom-color: #10b6dd;
  background-color: #f7f7f7;
}
.subscribeformcontainer {
  padding-top: 22px;
}
.subscribeformsubmit {
  width: 100%;
  height: 62px;
  border-radius: 10px;
  background-color: #e5432e;
  opacity: 1;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family:'Source Sans Pro', sans-serif;
  font-size: 18px;
}
.subscribeformsubmit:hover {
  background-color: #ff715e;
  opacity: 1;
}
.subscribeformsubmit.contact {
  width: 50%;
  background-color: #10b6dd;
}
.subscribeformsubmit.contact:hover {
  background-color: #3fc9e8;
}
.mainsection {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e0e0e0;
}
.mainsection.product {
  background-color: transparent;
}
.mainsection.team {
  background-color: #fbfbfb;
}
.maincontainer.askus {
  margin-top: 10px;
}
.contentblock {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 15px;
  border-left: 5px solid #10b6dd;
}
.contentcolumn {
  text-align: right;
}
.maincontentheadline {
  margin-top: 0px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 35px;
  border-left-width: 5px;
  text-align: center;
}
.maincontentheadline.left {
  margin-top: 15px;
  margin-bottom: 25px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 23px;
  border-left-style: solid;
  border-left-color: #10b6dd;
}
.maincontentheadline.askus {
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
}
.productrow {
  padding-bottom: 35px;
}
.maincontainter.team {
  margin-top: 15px;
  margin-bottom: 15px;
}
.heading3left {
  margin-top: 0px;
  font-size: 26px;
  text-align: left;
}
.heading4left {
  color: #636363;
  text-align: left;
}
.formtextarea {
  min-height: 150px;
  padding-top: 15px;
  padding-left: 25px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  color: #969696;
  font-size: 18px;
  font-weight: 300;
}
.productheading3 {
  display: block;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px none #10b6dd;
  color: #4d4d4d;
  font-size: 42px;
  text-align: center;
}
.productheading4 {
  color: #636363;
  font-size: 28px;
  text-align: center;
}
.requestsection {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background-color: #10b6dd;
}
.requesttext {
  display: inline-block;
  margin: 15px 20px;
  font-family:'Source Sans Pro', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 300;
  text-align: right;
}
.requestcontainter {
  text-align: center;
}
.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fbfbfb;
}
.footerlink {
  padding-right: 10px;
  padding-left: 10px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #969696;
  font-weight: 300;
  text-decoration: none;
}
.footerlink:hover {
  color: #10b6dd;
}
.footertext {
  color: #969696;
  font-weight: 300;
}
.footertext.left {
  text-align: right;
}
.logo {
  padding-top: 10px;
  padding-bottom: 10px;
}
.icon-product {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}
.productcolumn {
  text-align: left;
}
.productheading5 {
  font-weight: 400;
  text-align: left;
}
.productparagraph {
  margin-left: 0px;
  color: #969696;
  text-align: left;
}
.productstepnumber {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
}
.productstepnumbertext {
  color: #969696;
  font-weight: 300;
}
.teamparagraph {
  width: 100%;
  margin-bottom: 45px;
  color: #636363;
}
.teammember {
  text-align: center;
}
.profilephoto {
  margin-bottom: 20px;
}
.teamname {
  margin-bottom: 4px;
  color: #636363;
  font-size: 20px;
}
.teamposition {
  color: #969696;
  font-size: 16px;
  font-weight: 300;
}
.teammemberrow {
  margin-top: 30px;
  margin-bottom: 30px;
}
.contacticon {
  display: inline-block;
  text-align: left;
}
.contacticonblock {
  text-align: center;
}
.contactrow {
  margin-top: 20px;
  margin-bottom: 20px;
}
.footermidcolumn {
  text-align: center;
}
@media (max-width: 991px) {
  .heroimage {
    background-position: 0% 0%, 50% 50%;
  }
  .footerlink {
    font-size: 11px;
  }
  .footertext {
    font-size: 11px;
  }
  .footertext.left {
    font-size: 11px;
  }
}
@media (max-width: 767px) {
  h1 {
    display: inline-block;
    width: 84%;
    font-size: 40px;
  }
  h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .navlink {
    margin-left: 35px;
  }
  .nav-column{
    width: 80%;
    margin-left: -30%;
  }
  .header {
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
  }
  .heroimage {
    padding-top: 100px;
    padding-bottom: 0px;
    background-color: #10b6dd;
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .herotext {
    padding-bottom: 20px;
    text-align: center;
  }
  .form {
    display: inline-block;
    width: 90%;
  }
  .subscribeformcontainer {
    text-align: center;
  }
  .subscribeformsubmit {
    width: 90%;
  }
  .mainsection.product {
    padding-top: 0px;
  }
  .mainsection.team {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .mainsection.askus {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .maincontainer.product {
    padding-top: 20px;
  }
  .maincontentheadline.left {
    margin-bottom: 0px;
    margin-left: 30px;
  }
  .maincontentheadline.askus {
    display: inline-block;
    padding-bottom: 0px;
  }
  .maincontainter.team {
    margin-bottom: 0px;
    text-align: center;
  }
  .heading3left {
    text-align: center;
  }
  .heading4left {
    text-align: center;
  }
  .formtextarea {
    display: inline-block;
    width: 90%;
  }
  .footertext {
    text-align: center;
  }
  .footertext.left {
    text-align: center;
  }
  .productcolumn {
    text-align: center;
  }
  .productheading5 {
    text-align: center;
  }
  .productparagraph {
    display: inline-block;
    width: 90%;
    text-align: center;
  }
  .productstepnumber {
    display: none;
  }
  .teamparagraph {
    display: inline-block;
    width: 90%;
    margin-bottom: 0px;
    text-align: left;
  }
  .teammember {
    margin-bottom: 45px;
  }
  .contacticon {
    max-width: 80px;
  }
  .contacticonblock {
    margin-bottom: 15px;
  }
  .footerform {
    text-align: center;
  }
  .footerleft {
    text-align: center;
  }
}
iframe.video{
  display: block;
  margin: 20px auto;
  width:480px;
  height:270px;
}
@media (max-width: 479px) {

  h1 {
    width: 90%;
    margin-top: 45px;
    font-size: 34px;
    line-height: 36px;
    font-weight: 600;
  }
  h2 {
    font-size: 17px;
    font-weight: 300;
  }
  .navlink {
    margin-left: -5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 15px;
  }
  .herotext {
    margin-top: -20px;
    padding-top: 0px;
  }
  .nav-column {
    width: 100%;
    margin-left: 0px;
    padding-top: 15px;
    padding-bottom: 0px;
    text-align: center;
  }
  .maincontentheadline.left {
    margin-left: 0px;
    border-bottom: 2px solid #10b6dd;
    border-left-style: none;
  }
  .productheading3 {
    margin-bottom: 0px;
    font-size: 36px;
    text-align: center;
  }
  .productheading4 {
    display: inline-block;
    width: 66%;
    margin-top: 0px;
    font-size: 23px;
  }
  .requestcontainter {
    margin-bottom: 12px;
  }
  .logo {
    text-align: center;
  }
  .logocolumn {
    text-align: center;
  }
  iframe.video{
    display: block;
    margin: 20px auto;
    width:320px;
    height:180px;
  }
}
.center{
  text-align: center;
}

